{
  "env": {
    "renderer": {
      "presets": [
        "env",
        "react"
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    },
    "main": {
      "presets": [
        ["env", {
          "targets": {
            "node": "7.9"
          }
        }]
      ]
    }
  }
}
